<!-- app/pages/sobre/sobre.component.html -->
<div class="sobre-container">
    <!-- Navbar reutilizada -->
    <nav class="navbar">
      <h1 class="logo">PETLOVERS</h1>
      <ul>
        <li><a routerLink="/dashboard">Home</a></li>
        <li><a routerLink="/sobre" class="active">Sobre</a></li>
        <li><a routerLink="/contato">Contato</a></li>
        <li><a routerLink="/perfil">Meu Perfil</a></li>
      </ul>
      <button class="logout">
        <a routerLink="/cadastro" style="color: #ffffff; text-decoration: none;">Logout</a>
      </button>
    </nav>
  
    <!-- Conteúdo da página Sobre -->
    <div class="sobre-content">
      <h2>Sobre o Projeto</h2>
      <p>
        Este projeto propõe a criação de um aplicativo web, um <strong>"Tinder para Pets"</strong>,
        que conecta pessoas interessadas em adotar animais com ONGs que abrigam esses animais.
      </p>
      <p>
        O aplicativo exibirá perfis de pets disponíveis para adoção, contendo informações detalhadas como raça, idade,
        vacinação, histórico médico e comportamento.
      </p>
      <p>
        Os usuários poderão navegar pelos perfis dos animais, curtindo ou ignorando aqueles que consideram ideais e, ao
        encontrarem o pet que desejam, poderão entrar em contato com o responsável pelo animal na ONG.
      </p>
      <p>
        O objetivo é facilitar a conexão entre potenciais adotantes e pets em busca de um lar, promovendo adoções conscientes
        e responsáveis.
      </p>
    </div>
  </div>
  