@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.full-width {
    width: 100%;
    margin-bottom: 1rem;
  }
  

.photo-container {
  text-align: center;
  margin-bottom: 16px;
}

.pet-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.cancel-button,
.confirm-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 15px;
  padding: 8px 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cancel-button {
  margin-right: 10px;
  background-color: #993bcf;
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(248, 187, 208, 0.5);
}

.cancel-button:hover {
  background-color: #2b1544;
}

.confirm-button {
  background-color: #f894b3;
  color: rgb(255, 255, 255);
  box-shadow: 0px 4px 8px rgba(255, 198, 217, 0.5);
}

.confirm-button:hover {
  background-color: #be2256;
}