<div class="dashboard-container">
  <nav class="navbar">
    <h1 class="logo">PETLOVERS</h1>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/sobre">Sobre</a></li>
      <li><a routerLink="/contato">Contato</a></li>
      <li class="active"><a routerLink="/perfil">Meu Perfil</a></li>
    </ul>
    <button class="logout" ><a routerLink="/cadastro" style="color: #ffffff; text-decoration: none;">Logout</a></button>
  </nav>

  <div class="banner">
    <p>
      <strong>Encontre o seu melhor amigo!</strong><br>
      Adoção responsável, amor incondicional.<br>
      Encontre o pet ideal para você.
    </p>
    <img src="./assets/img/dog.png" alt="Cachorro">
  </div>

  <div class="filters">
    <h3>Filtro</h3>
    <button (click)="filterPets('Dog')">Cães</button>
    <button (click)="filterPets('Cat')">Gatos</button>
    <h3>Sexo</h3>
    <button (click)="filterPets('Macho')">Machos</button>
    <button (click)="filterPets('Fêmea')">Fêmeas</button>
    <h3>Tamanho</h3>
    <button (click)="filterPets('Large')">Grandes</button>
    <button (click)="filterPets('Medium')">Grandes</button>
    <button (click)="filterPets('Small')">Grandes</button>
    <h3>Limpar Filtro</h3>
    <button (click)="resetFilters()">Mostrar Todos</button>
  </div>

  
  <div *ngIf="filteredPets.length === 0">
    <p>Nenhum pet encontrado.</p>
  </div>

  <div *ngFor="let pet of filteredPets" class="pet-card">
    <img [src]="pet.photo" alt="Foto do pet">
    <h3>{{ pet.name }}</h3>
    <p>Raça: {{ pet.breed }}</p>
    <p>Tamanho: {{ pet.size }}</p>
    <p>Sexo: {{ pet.sex }}</p>

    <button (click)="deletePet(pet.id)">Excluir</button>
  </div>

  <footer>
    <p>© 2024 PetLovers. Todos os direitos reservados.</p>
  </footer>
</div>
