<app-header></app-header>
<div class="dashboard-container">


  <div class="banner">
    <p>
      <strong>Encontre o seu melhor amigo!</strong><br>
      Adoção responsável, amor incondicional.<br>
      Encontre o pet ideal para você.
    </p>
    <img src="./assets/img/dog.png" alt="Cachorro">
  </div>

  <div class="filters">
    <h2>Filtros</h2>
    <button class="clear-filters">Limpar todos</button>

    <div class="filter-group">
        <h3>Tipo de Pet</h3>
        <label><input type="checkbox" (click)="filterPets('Cachorro')"> Cachorro</label>
        <label><input type="checkbox" (click)="filterPets('Gato')"> Gato</label>
    </div>

    <div class="filter-group">
        <h3>Sexo</h3>
        <label><input type="checkbox" (click)="filterPets('Macho')"> Macho</label>
        <label><input type="checkbox" (click)="filterPets('Fêmea')"> Fêmea</label>
    </div>

    <div class="filter-group">
        <h3>Porte</h3>
        <label><input type="checkbox" (click)="filterPets('Pequeno')"> Pequeno</label>
        <label><input type="checkbox" (click)="filterPets('Médio')"> Médio</label>
        <label><input type="checkbox" (click)="filterPets('Grande')"> Grande</label>
    </div>

    <div class="filter-group">
        <h3>Castrado</h3>
        <label><input type="checkbox" (click)="filterPets('Sim')"> Sim</label>
        <label><input type="checkbox" (click)="filterPets('Não')"> Não</label>
    </div>
</div>

  <div class="pets-grid">
    <div *ngFor="let pet of filteredPets" class="pet-card">
      <img [src]="pet.photo" alt="Foto do pet">
      <h3>{{ pet.name }}</h3>
      <p>Raça: {{ pet.breed }}</p>
      <p>Tamanho: {{ pet.size }}</p>
      <p>Sexo: {{ pet.sex?.toLowerCase() === 'male' ? 'Macho' : 'Fêmea' }}</p>
      <button *ngIf="pet.ownerId === userId" class="edit-button" (click)="editPet(pet)">Editar</button>
      <button *ngIf="pet.ownerId === userId" class="remove-button" (click)="deletePet(pet.id)">Excluir</button>
      <button *ngIf="pet.ownerId !== userId"  class="heart-button" (click)="toggleFavorite(pet)">
        <i [class]="pet.isFavorited ? 'fa fa-heart heart-active' : 'fa fa-heart-o heart-inactive'"></i>
      </button>
      <button class="adopt-button" (click)="adoptPet(pet)">
        Quero adotar
    </button>
    </div>
  </div>

  <footer>
    <p>© 2024 PetLovers. Todos os direitos reservados.</p>
  </footer>
</div>
